<div class="filters">
  <input 
    type="text" 
    [(ngModel)]="searchTerm" 
    placeholder="Cerca marca o modello..." 
    class="search-bar"
  >


  <!-- Slider Prezzo -->
  <div class="price-filter">
    <label>Giorni dall'ultimo pagamento: {{ maxDays }} giorni</label>
    <input 
      type="range" 
      min="0" 
      max="365" 
      step="1" 
      [(ngModel)]="maxDays"
    >
  </div>  
</div>

<div class="car-grid">
  <!-- Usa filteredCars invece di cars -->
  <div class="relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 hover:border-slate-300 hover:shadow-md rounded-lg transition-all cursor-pointer size-60"
       *ngFor="let car of filteredCars">
    <div class="m-2.5 overflow-hidden rounded-md h-80 flex justify-center items-center">
      <img [src]="car.imageUrl" [alt]="car.brand" class="w-full h-full object-cover" />
    </div>
    <div class="p-4">
      <h5 class="mb-2 text-slate-800 text-xl font-semibold">
        {{ car.brand }} {{ car.model }}
      </h5>
      <p *ngIf="car.color" class="text-slate-600 leading-normal font-light">
        Colore: {{ car.color }}
      </p>
      <p class="text-slate-600 leading-normal font-light">
        Proprietario: {{ car.owner }}
      </p>
      <p class="text-slate-600 leading-normal font-light">
        Targa: {{ car.plate }}
      </p>
      <p class="text-slate-600 leading-normal font-light">
        {{ car.daysSinceLastPayment }} giorni
      </p>
    </div>
  </div>
</div>

<!-- Messaggio se non ci sono risultati -->
<p *ngIf="filteredCars.length === 0">Nessuna auto trovata per "{{ searchTerm }}"</p>
