<div class="filters">
  <input 
    type="text" 
    [(ngModel)]="searchTerm" 
    placeholder="Cerca marca o modello..." 
    class="search-bar"
  >


  <!-- Slider Prezzo -->
  <div class="price-filter">
    <label>Giorni dall'ultimo pagamento: {{ maxDays }} giorni</label>
    <input 
      type="range" 
      min="0" 
      max="365" 
      step="1" 
      [(ngModel)]="maxDays"
    >
  </div>  
</div>

<div class="car-grid">
  <!-- Usa filteredCars invece di cars -->
  <div class="relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 hover:border-slate-300 hover:shadow-md rounded-lg transition-all cursor-pointer w-48"
       *ngFor="let car of filteredCars">
    <img [src]="car.imageUrl" [alt]="car.brand" class="car-image">
    <div class="p-4">
      <h5 class="mb-2 text-slate-800 text-xl font-semibold">
        {{ car.brand }} {{ car.model }}
      </h5>
      <p class="text-slate-600 leading-normal font-light">
        {{ car.daysSinceLastPayment }} giorni
      </p>
    </div>
  </div>
</div>

<!-- Messaggio se non ci sono risultati -->
<p *ngIf="filteredCars.length === 0">Nessuna auto trovata per "{{ searchTerm }}"</p>
